.message_wrapper {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  z-index: 15;
}

.welcome-wrapper {
  position: fixed;
  bottom: 12%;
  right: 2%;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 2rem 1rem;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.welcome-wrapper .chat_bot-icon {
  top: -35%;
  position: absolute;
  transform: translateY(20%);
}

.welcome-wrapper .cross_icons {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.welcome-wrapper span {
  color: var(--muted-background);
  font-size: small;
}

/* Chat Bot CSS */
.chat_bot-container {
  position: fixed;
  bottom: 10%;
  right: 2%;
  z-index: 10;
  min-width: auto;
  width: 30vw;
  max-width: 50vw;
  min-height: auto;
  min-height: 60vh;
  height: 60vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat_bot-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: var(--bold-weight);
  color: var(--white-color);
}

/* Chat Bot Footer */
.chat_bot-footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.chat_bot-input {
  width: 90%;
  max-width: 90%;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.sent-icon {
  cursor: pointer;
  padding-right: 0.5rem;
}

/* Till Here */

/* Chat Bot Body */
.chat_bot-body {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem 1.25rem;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
}

.chat_bot-wrapper {
  width: 80%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.send_wrapper {
  margin-left: auto;
}

.receive_wrapper {
  margin-right: auto;
}

.chat_bot-chats_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  flex-grow: 1;
}

.chat_bot-chats,
.chat_bot-form {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  font-size: var(--small-font-size);
  color: var(--semi-dark-color);
  word-wrap: break-word;
  width: 100%;
}

.custom-messages {
  cursor: pointer;
}

.start_message {
  color: var(--muted-background);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Chat Bot Form */
.chat_bot-form {
  flex-grow: 1;
  width: max-content;
}

.chat_bot-form small {
  font-weight: bold;
}

.chat_bot-form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.chat_bot-form_label {
  font-size: smaller;
  margin-bottom: 0.55rem;
}

.chat_bot-form_wrapper input {
  outline: none;
  border: none;
  font-size: small;
  width: 100%;
  border-bottom: 1px solid var(--muted-background);
}

.chat_bot-ended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--muted-background);
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .chat_bot-container {
    width: 100%;
    max-width: 50vw;
  }
}

@media (max-width: 452px) {
  .chat_bot-container {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    max-height: 80vh;
  }
}
