.landing_footer-container {
  margin-top: 3rem;
  background-color: var(--white-color);
  padding: 5rem 2.5rem;
  font-size: var(--small-font-size);
  font-weight: bold;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  align-items: start;
}

.footer-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-sub-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
}

.footer-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-item-wrapper > div {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 550;
  color: var(--black-color);
}

.footer-item-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: var(--semi-dark-color);
  font-weight: normal;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: auto;
}

@media (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-btn-wrapper {
    margin-bottom: 2rem;
  }

  .footer-sub-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
